.header-line {
    display: flex;
    align-items: center;
 }
 .header-part {
    height: 80px;
    border-bottom: 1px solid #ececec;
 }
 .header-part ul {
    display: flex;
    align-items: center
 }