.blue-logo-part {
    color: var(--special-color);
    font-family: "Raleway";
 }
 .logo {
    text-decoration: none;
    color: #212121;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: inherit;
 }